{% extends "index.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
    <section id="hor_containers">
        {% include "lcd.html" %}
        {% include "sensors.html" %}
        {% include "upload.html" %}
        {% include "uploads.html" %}
        {% include "watson.html" %}
    </section>
    <aside id="vert_containers" class="dashboard_container">
        <div>
            <iframe src="/ring" height="750" frameborder="0"></iframe>
        </div>
    </aside>
{% endblock %}
