<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %} - NMCT-Box web UI</title>
    <link rel="icon" href="/media/nmct-std-cl.png"/>
    {% block styles %}
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Fonts -->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu"/>
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/styles/nmctbox.css"/>
        <link rel="stylesheet" href="/styles/bootstrap_overwrite.css"/>
    {% endblock %}
    {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% endblock %}
</head>

<body>
<header>
    <section>
        <div><img src="/media/nmct-std-cl.png" style="cursor:pointer;"
                  onclick="window.open('http://nmct.be','_blank');"/></div>
        <div><span>nmct box<br/>dashboard</span></div>
    </section>
</header>
<main>
    <div class="dashboard_wrapper">{% block content %}{% endblock %}</div>
</main>
<footer>
    {% block footer %}
        &copy; Copyright 2018 <a href="http://www.nmct.be/">NMCT | New Media and Communication Technologies</a>.
    {% endblock %}
</footer>

</body>
</html>
