{% extends "panel.html" %}
{% block panel_color %}blue{% endblock %}
{% block panel_title %}LCD Display{% endblock %}
{% block panel_contents %}
    <form role="form" action="{{ url_for('write_lcd') }}" method="get">
        <div class="form-group">
            <label>LCD Input</label>
             <p class="help-block ">Druk op de grote knop van de nmct-box om naar het LCD display te kunnen schrijven.</p>
                <input class="form-control "  name="lcdMessage" value="{{ lcdMessage }}"/>
        </div>
            <label>

                <button type="submit" class="btn btn-default "  name="show_method">Schrijf naar
                LCD
                display
            </button>

            <p class="help-block" >Geef hier tekst in om naar het LCD display te sturen.</p>

            </label>
    </form>
{% endblock %}
