<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NeoPixel LED Ring</title>
</head>
<body>
<div class="row">
    <div class="col-lg-6">
        <form role="form" action="{{ url_for('neopixel') }}" method="post">
            <div class="form-group">
                <label>NeoPixel</label>
                <label>{{ effect }}</label>
            </div>
            <!-- TODO: add color picker? https://github.com/mrf345/flask_colorpicker/-->
            <div class="form-group">
                <!-- TODO: allow only one of named color/r,g,b values to be visible/selectable-->
                <label>Color palette:
                    <select name="color" class="form-control">
                        {% for col in palette %}
                            <option value="{{ col }}" SELECTED>{{ col }}</option>
                        {% endfor %}
                    </select>
                </label></div>
            <div class="form-group">
                <label>Red: <input type="number" name="red" value="232"/> </label>
                <label>Green: <input type="number" name="green" value="94"> </label>
                <label>Blue: <input type="number" name="blue" value="0"> </label>
            </div>
            <div class="form-group">
                <!-- TODO: programatically enumerate effects? -->
                <button type="submit" class="btn btn-default" name="effect" value="loop">loop led</button>
                <button type="submit" class="btn btn-default" name="effect" value="fill">fill ring</button>
                <button type="submit" class="btn btn-default" name="effect" value="theater_chase">theater chase</button>
                <button type="submit" class="btn btn-default" name="effect" value="rainbow">rainbow cycle</button>
                <button type="submit" class="btn btn-default" name="effect" value="rainbow_chase">rainbow chase</button>
                <button type="submit" class="btn btn-default" name="effect" value="clear">clear</button>
            </div>
        </form>
    </div>

</div>
</body>
</html>
