{% extends "panel.html" %}
{% block panel_color %}green{% endblock %}
{% block panel_title %}Upload{% endblock %}
{% block panel_contents %}
    {% if upload_success %}
        <span>Upload successful!</span>
    {% endif %}
    <form action="{{ url_for('upload_file') }}" method=post enctype=multipart/form-data role="form">
        <div class="flexitem col-md-12">
            <input type=file name=file class="col-md-6" style="min-height: 15px; margin: 5px 0;">
            <input class="btn btn-default" type=submit value=Upload>
        </div>
    </form>
{#    <a href="{{ url_for('show_uploads') }}">Uploads</a>#}
{% endblock %}
