[Unit]
Description=Update hostname if /boot/hostname is present
ConditionPathExistsGlob=/boot/credentials.json
After=regenerate_ssh_host_keys.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c "cp -f /boot/credentials.json ${NMCT_HOME}/.secret/credentials.json && rm -f /boot/credentials.json"

[Install]
WantedBy=multi-user.target
