[Unit]
Description=uWSGI instance to serve NMCT Box Flask web interface
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=${NMCT_HOME}/uploads
Environment="PATH=${NMCT_HOME}/env/bin"
Environment="NMCT_HOME=${NMCT_HOME}"
ExecStart="${NMCT_HOME}/env/bin/uwsgi" --ini "${NMCT_HOME}/src/nmct/web/wsgi-student.ini"

[Install]
WantedBy=multi-user.target
