[Unit]
Description=Jupyter notebook for NMCT box
After=network.target

[Service]
User=${USER}
Group=www-data
WorkingDirectory=${NMCT_HOME}
Environment="PATH=${NMCT_HOME}/env/bin:/usr/bin:/bin"
Environment="NMCT_HOME=${NMCT_HOME}"
ExecStart=${NMCT_HOME}/env/bin/python /usr/bin/jupyter-notebook --config=${NMCT_HOME}/resources/conf/jupyter_notebook_config.py


[Install]
WantedBy=multi-user.target
