[Unit]
Description=uWSGI instance to serve NeoPixel ring web interface
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=${NMCT_HOME}/src/nmct/web
Environment="PATH=${NMCT_HOME}/env/bin"
Environment="NMCT_HOME=${NMCT_HOME}"
ExecStart="${NMCT_HOME}/env/bin/uwsgi" --ini "${NMCT_HOME}/resources/conf/wsgi-neopixel.ini"

[Install]
WantedBy=multi-user.target
