[Unit]
Description=uWSGI instance to serve NMCT Box web interface
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=${NMCT_HOME}/src/web
Environment="PATH=${NMCT_HOME}/env/bin"
ExecStart="${NMCT_HOME}/env/bin/uwsgi" --ini "${NMCT_HOME}/src/nmct/web/nmct-box.ini"

[Install]
WantedBy=multi-user.target
