[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=NMCT Box demo
Comment=A demo of the NMCT Box
Exec=sudo -E ${NMCT_HOME}/env/bin/python ${NMCT_HOME}/src/examples/nmct_box_demo.py
Terminal=true
